<!--{% extends "/blog/templates/blog/base.html" %}-->

{% block title %}Create an Account{% endblock %}

{% block content %}
    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form }}
	<button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}