<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css'%}">
</head>
<body>
<body>
<div class="page-header">
    <a href="{% url 'post_new' %}" class="top-menu">
        <span>
            Додати допис
        </span>
    </a>
    <h1><a href="/">My Django Blog</a></h1>
</div>
<div class="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>