{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
<div class="post">
    <div class="date">
        <p>published: {{ post.published_date }}</p>
    </div>
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page.has_previous %}
    <li class="page-item">
	<a class="page-link" href="?page={{page.previous_page_number}}"> Previous</a>
   </li>
      {%endif%}

    <li class="page-item">{{page.number}} from {{page.paginator.num_pages}}</li>
      {% if page.has_next %}
    <li class="page-item">
 	<a class="page-link" href="?page={{page.next_page_number}}"> Previous </a>
    </li>
      {%endif%}

  </ul>
</nav>

{% endblock %}