{% extends 'blog/base.html' %}
{% block content %}
<h1>Новий пост</h1>
<form method="Post"  class="post-form">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Зберегти</button>
</form>
{% endblock %}