{% extends 'blog/base.html' %}
{% block content %}
<div class="post">
    {% if post.published_date %}
    <p class="date">{{post.published_date}}</p>
    <a href="{% url 'post_edit' pk=post.pk %}"><span>Редагувати</span></a>
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
    {%endif%}
</div>
<h3>Коментарі:</h3>
<div>
    {% for comm in comment%}
    {{comm.user}} <br>
    {{comm.text}}
    <hr>
    {%endfor%}
</div>
{% if user.is_authenticated %}
<h3>Додати коментар:</h3>
<div>

    <form method="POST">
        <div class="form-group">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Зберегти</button>
        </div>
    </form>

</div>
 {%endif%}
{% endblock %}