{% extends 'blog/base.html' %}
{% blосk title %}Вход{% endblock %}
{%blосk content %}
<h2>Bxід</h2>
{% if user.is_authenticated %1
<р>Ви вже виконали вхід.</р>
{% else %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" vаluе="Увійти">
</form>
{% endif %}
{% endblock %}